<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/recipeView.css">

<!-- SECTION -->
<section>
    <div class="board-post-section">
        <div class="post-section">
            <div class="post-title">
                <!-- 글 제목 불러오기 -->
                <%= dataList.title %>
            </div>
            <div class="post-info-box">
                <ul class="post-info-first">
                    <li class="writer-name">
                        <!-- 작성자 이름 불러오기 -->
                        작성자
                        <%= dataList.user.mem_id %>
                        <!--  operator_id -->
                    </li>
                    <li class="write-date">
                        <!-- 작성일 불러오기 -->
                        <%= dataList.createdAt.toISOString().split('T')[0] %>
                        <%= dataList.createdAt.toISOString().split('T')[1].slice(0,5) %>
                    </li>
                </ul>
                <ul class="post-info-second">
                    <li class="post-views">
                        조회
                        <span>
                            <!-- 조회수 불러오기 -->
                            <%= dataList.viewCount %>
                            
                        </span>
                    </li>
                    <li class="post-ups">
                        추천 
                        <span id="like">
                            <!-- 위에 아이디 삭제 ⚠️⚠️⚠️추천수 불러오기 -->
                            33
                        </span>
                    </li>
                    <li class="post-com-num">
                        댓글
                        <!-- 숫자 클릭 시 댓글 창 부분으로 이동 -->
                        <a href="#comment">
                            <span>
                                <!-- 댓글수 불러오기 -->
                                2
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 태그 -->
            <div class="recipe-view-tag">
                태그
            </div>

            <!-- 쿡타임, 난이도 -->
            <div class="recipe-view-timelevel">
                쿡타임, 난이도
            </div>

            <!-- 소개글 -->
            <div class="recipe-view-intro">
                소개글
            </div>

            <!-- 재료 -->
            <div class="recipe-view-ingredients">
                재료
            </div>

            <!-- 단계 -->
            <div class="">
                단계
            </div>

            <!-- 글 내용 부분 -->
            <div class="post-content">
                <!-- 글 내용 불러오기 -->

            </div>
            
            <!-- 추천, 스크랩하기 -->
            <% if(typeof user != "undefined"){ %>
                <!-- 로그인 상태일 시 -->
                <div class="upscrap-box">
                    <!-- 추천 -->
                    <button class="up-bt" onclick="alert('추천되었습니다')">
                        👍<br>
                        추천
                    </button>
                    <!-- 스크랩 -->
                    <button class="scrap-bt" onclick="alert('스크랩되었습니다')">
                        ⭐<br>
                        스크랩
                    </button>
                    <button id="likeButton" name="login" value="좋아요" onClick="handleLikeButtonClick();">♡좋아요</button>
                    <p id="likeState"> <%= likeInfo.isLiked %> </p>
                </div>
            <% } else{ %>
                <!-- 비로그인 -->
                <div class="upscrap-box">
                    <!-- 추천 -->
                    <button class="up-bt" onclick="alert('로그인 후 추천 가능\n이것도 confirm 써서 페이지 이동하고싶당...')">
                        👍<br>
                        추천
                    </button>
                    <!-- 스크랩 -->
                    <button class="scrap-bt" onclick="alert('로그인 후 스크랩 가능\n이것도 confirm 써서 페이지 이동하고싶당...')">
                        ⭐<br>
                        스크랩
                    </button>
                    <button name="login"  onClick="handleLikeButtonClick();">♡좋아요</button>
                </div>
            <% } %>

            <!-- 글 하단 -->
            <div class="bottom-nav">
                <div class="goback">
                    <a href="/recipe/list">🔙 목록으로</a>
                </div>

                <!-- 로그인한 유저가 글 작성자일때 보이기 -->
                
                    <div class="editbox">
                        <ul>
                            <li>
                                <span>
                                    <!-- 글 작성자이면 게시글 수정 페이지로 이동 -->
                                    <a>수정</a>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <!-- 글 작성자이면 게시글 삭제 -->
                                    <a>삭제</a>

                                </span>
                            </li>
                        </ul>
                    </div>

            </div>       
                        </span>
                    </li>
                </ul>
            </div>
            <div>
                menu 음식 이름; 된장찌개 등등 <br>
                title은 '오늘의 메뉴 된장찌개!!'' 이런느김<br>
                cooktime 조리시간<br>
                level 음식 난이도 ⭐⭐⭐⭐⭐로 표시<br>
            </div>

            <!-- 댓글 부분 -->
            <div class="comment-section">
                <a name="comment">
                    <div class="comment-view">
                        <div class="comment-title">
                            <!-- 괄호 안에 댓글수 표시 -->
                            🗨️댓글(0)
                        </div>
                    </div>
                    <!-- 작성된 댓글이 없을 경우 -->

                        <div class="comment-view">
                            <div class="comment-page"></div>
                        </div>
                        <div class="comment-list">
                                <div class class="com-namentime">
                                    아직 댓글이 없어요!! 
                                </div>
                        </div>

                        <div class="comment-view">
                            <div class="comment-page">
                                <!-- 댓글 페이지, 댓글이 20개 이상일 때 1,2... 페이지 나타나기. 아래는 예시 -->
                                
                            </div>
                        </div>
                        
                        <div class="comment-list">

                                <div class="com-namentime">
                                    <div class="com-name">
                                        <!-- 댓글 작성자 이름 -->

                                    </div>
                                    <div class="com-time">
                                        <!-- 댓글이 작성된 시간 -->

                                    </div>

                                    <!-- 글 열람 유저 = 댓글 작성자이면 보이기 -->
                                    <div class="com-editbox">
                                        <span>수정</span>
                                        <span>삭제</span>
                                    </div>
                                    
                                </div>
                                <div class="com-text">
                                    <!-- 댓글 내용 -->
                                    댓글 내용
                                </div>

                        </div>


                    <!-- 댓글 달기 -->
                    <% if(typeof user != "undefined"){ %>
                        <!-- 로그인 상태일 시 -->
                        <div class="comment-write">
                            <div class="comment-write-form">    
                                <!--  ⚠️⚠️ 폼 태그 바꿈. 231109 -->
                                <div class="commenter">
                                    <!-- 유저 닉네임 -->
                                    닉네임
                                </div>
                                <form id="commentForm">
                                    <div class="comment-write-section">
                                        <div class="write-comment">
                                            <textarea id="comment-textarea" name="content" placeholder="고운말 댓글 달기" required></textarea>
                                        </div>
                                        <div class="submit-button">
                                            <button type="submit" name="submit">등록</button>
                                        </div>
                                    </div>
                                </form> 
                            </div>
                        </div>
                    <% } else{ %>
                        <!-- 비로그인 -->
                        <div class="non-user-comment">
                            <textarea onclick="confirm('로그인 후 이용 가능합니다!');" placeholder="로그인하고 댓글을 달아보세요!" required></textarea>
                        </div>
                    <% } %>
    
                    <!-- 하단 -->
                    <div class="box">
                        <button onclick="location.href='/board'">글목록</button>
                    </div>
                </a>
            </div>
        </div>

        <!-- 오른쪽 사이드바 -->
        <div class="sidebar-section">
            <div class="sidebar-box-right">
                <!-- header로 -->
                <a href="#up-scroll">▲</a>
                <!-- footer로 -->
                <a href="#down-scroll">▼</a>
                <!-- 댓글로 -->
                <a href="#comment">🗨️</a>
            </div>
        </div>

    </div>
</section>