<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/gather/gatherView.css">

<!-- SECTION -->
<section>
    <div class="gather-view-section">

        <!-- 신청 모달 창 -->
		<div id="modalWrapViewJoin">

			<!-- 모달 -->
			<div id="modalBodyViewJoin">

				<!-- 내용물 -->
				<div class="gather-join-contents">

					<!-- 밥모임 이름 -->
					<div class="join-target">

						<!-- 클릭한 밥모임의 이름 불러오기 -->
						<%= gatherData.name %>

					</div>
					
					<!-- 신청 폼 -->
                    <!-- ⚠️이미 신청한 사람, 멤버인 사람은 안보이기 -->
					<form method="post" id="form-apply"
                        action = "/gather/apply?no=<%= gatherData.gathering_id %>"
                        onsubmit="return joinClick()"
                        target="applyResult">
                                                        <!-- ⚠️form 태그 동작 확인하기⚠️  -->
						<!-- 인사말 박스 -->
						<div class="gather-join-text">

							<!-- 타이틀 -->
							<div class="join-title">
								같이 먹어요😊
							</div>

							<!-- 인사말 -->
							<div class="join-text">

								<!-- 인사말 타이틀과 선 -->
								<div class="join-text-title">

									<!-- 인사말 타이틀 내용 -->
									<div class="join-text-title-content">
										인사말
									</div>
									<div class="join-text-title-border">
										<p>&nbsp;</p>
									</div>

								</div>

								<div class="join-textarea-box">
									<!-- 텍스트아리아 -->
									<textarea name="message" id="gatherJoinArea" placeholder="인사말을 적어주세요 :)"></textarea>
								</div>
								
							</div>
							
						</div>

						<!-- 버튼 박스 -->
						<div class="join-btn-box">

							<!-- 신청 버튼 -->
							<button type="submit">신청</button>

							<!-- 취소 버튼 -->
							<button type="button" id="closeBtnViewJoin">취소</button>

						</div>	

					</form>
					<iframe name="applyResult" style="display:none;"></iframe>

				</div>
	
			</div>
		</div>

        <!-- 밥모임 내용 -->
        <div class="post-section">

            <!-- 모임 이름 -->
            <div class="post-title">
                <div class="gather-view-title">
                    <!-- 모임 이름 불러오기 -->
                    <%= gatherData.name %>
                </div>
            </div>

            <!-- 모임장, 게시일, 조회수 -->
            <div class="post-info-box">
                <ul class="post-info-first">
                    <li class="writer-name">
                        모임장
                        <!-- 작성자 이름 불러오기 -->
                        <%= gatherData.leader_id %>
                    </li>
                    <li class="write-date">
                        게시일
                        <!-- 작성일 불러오기 -->
                        <%= gatherData.createdAt.toISOString().slice(0,10) %>
                    </li>
                </ul>
                <!-- <ul class="post-info-second">
                    <li class="post-views">
                        조회
                        <span>
                            <%= gatherData.viewCount %>
                        </span>
                    </li>
                </ul> -->
            </div>

            <!-- 이미지, 지역, 식당, 인원, 마감일, 소개글 -->
            <div class="post-content">
                
                <!-- 이미지, 지역, 식당 -->
				<div class="view-imgNothers">
					<!-- 이미지 -->
					<div class="view-img">
						<!-- <img src="/images/candy-blue.png"> -->
                        <img name ='img' src="<%= gatherData.image_url? gatherData.image_url: '/images/candy-blue.png'%>">
                        <!-- "https://s3.ap-northeast-2.amazonaws.com/im-foodie.com/buzz.png" -->
					</div>
					<!-- 지역과 식당 -->
					<div class="view-regionNrest">
						<!-- 지역 -->
						<div class="view-region">
							<div class="view-region-title">
								모임 지역 :
							</div>
							<!-- 지역 불러오기 -->
							<div class="view-region-data">
								<%= gatherData.city %>
                                <%= gatherData.district %>
                                <%= gatherData.neighborhood %>
							</div>
						</div>
						<!-- 식당 -->
						<div class="view-restaurant">
							<div class="view-restaurant-title">
								함께 할 맛집 :
							</div>
							<!-- 맛집 불러오기 -->
							<div class="view-restaurant-data">
								<%= gatherData.place %>
							</div>
						</div>
					</div>			
				</div>

                <!-- 모집인원과 마감일 -->
                <div class="view-numNdeadline">

                    <!-- 인원수 -->
					<div class="view-numbers">
						<div class="view-numbers-title">
							모집 인원수 <span>(현재인원/총원)</span> :
						</div>					

						<!-- 인원수 불러오기 -->
						<div class="view-numbers-data">
                            <!-- 현인원 -->
							<span><%= gatherData.currentHeadCount %></span>
                            /
                            <!-- 총원 -->
                            <span><%= gatherData.maximumHeadCount %></span>
						</div>
					</div>
					<!-- 마감일 -->
					<div class="view-deadline">
						<div class="view-deadline-title">
							모집 마감일 :
						</div>
						<!-- 마감일 불러오기 -->
						<div class="view-deadline-data">
							<%= gatherData.deadline.toISOString().slice(0,10) %>
						</div>
					</div>

                </div>

                <!-- 소개글 -->
				<div class="view-intro">
					<div class="view-intro-title">
						모임 소개글 :
					</div>

					<!-- 소개글 불러오기 -->
					<div class="view-intro-data">
						<%- gatherData.description %>
					</div>
				</div>
            </div>

            
            <% switch(who){ 
                case 0: %> 
                    <div class="view-button-box">
                        <!-- 수정 -->
                        <div class="">
                            <a href='/gather/update?no=<%= gatherData.gathering_id %>'>
                                <button>수정하기</button>  
                            </a>    
                        </div>
                        <!-- 삭제 -->
                        <div class="">
                            <a href='/gather/delete?no=<%= gatherData.gathering_id %>'>
                                <button>삭제하기</button>  
                            </a>   
                        </div>
                        <!-- 목록으로 -->
                        <div>
                            <a href="/gather">
                                <button>목록으로</button>
                            </a>
                        </div>
                    </div>
                    <% break; %>
                <% case 1: %>   
                    <div class="view-button-box">
                        <!-- 탈퇴 -->
                        <div class="">
                            <a href='/gather/banMember?no=<%= gatherData.gathering_id %>&memId=<%= user.mem_id %>&mode=1' target="blankifr">
                                <button>탈퇴하기</button>  
                            </a>    
                        </div>
                        <!-- 목록으로 -->
                        <div>
                            <a href="/gather">
                                <button>목록으로</button>
                            </a>
                        </div>
                    </div>
                    <% break; %>
                <% case 2: %>   
                    <% break; %>
                <% default: %>
                <!-- 거절 당하거나, 멤버 아닌 유저 -->
                    <div class="view-button-box">
                        <!-- 같이먹어요 -->
                        <% if(gatherData.state ==0){ %>
                        <div class="">
                            <button class="join-group" onclick="gatherViewJoinClick()">같이먹어요</button>            
                        </div>
                        <% } %>
                        <!-- 목록으로 -->
                        <div>
                            <a href="/gather">
                                <button>목록으로</button>
                            </a>
                        </div>
                    </div>
                    <% break; %>
            <% } %>
            <!-- if 열람유저 = 작성자(모임장): 수정, 삭제, 목록 -->
        </div>
        
        <!-- 유저 상황별 보이는 화면 -->
        <div class="user-situation">
            
        <!-- 유저가 모임원이면 [탈퇴] 버튼  -->
        <!-- 유저가 모임원이면 [탈퇴] 버튼  -->
        <% switch(who){ 
            case 0: %> 
            <!-- 열람유저 = 모임장 -->
            <div class="view-user-master">
                <!-- 모임원 목록 -->
                <div class="master-member-list">
                    <span class="title">모임원 목록</span>

                    <!-- 맨 윗줄 인덱스 -->
                    <div class="user-master-member-f">
                        <div class="master-mem-f">
                            모임원
                        </div>
                        <div class="master-mem-intro-f">
                            인사말
                        </div>
                        <div class="master-mem-status-f">
                            관리
                        </div>
                    </div>

                    <% memberList.forEach((member, index)=>{ %>
                        <!-- 불러오기 -->
                        <div class="user-master-member">
                            <div class="master-mem">
                                <% if (member.state == 0){ %>
                                    👑
                                <% }%>
                                <%= member.mem_id %>
                            </div>
                            <div class="master-mem-intro">
                                <%= member.message %>
                            </div>
                            <div class="master-mem-status">
                                <% if (member.state == 1){ %>
                                    <span>
                                    <a href="/gather/banMember?no=<%= gatherData.gathering_id %>&memId=<%= member.mem_id %>&mode=0" target="blankifr">
                                        [강퇴]
                                    </a>
                                    </span>
                                <% } %>
                            </div>
                            <!-- <iframe name="banResult" style="display:none;"></iframe> -->
                        </div>
                    <% }) %>

                </div>

                <% if(typeof applicantList != "undefined" && applicantList != ""){ %>
                <!-- 신청자 목록 -->
                <div class="master-applicant-list">
                    <span class="title">신청자 목록</span>
                    <!-- 첫번째 인덱스 -->
                    <div class="user-master-applicant-f">
                        <div class="master-appli-f">
                            신청자
                        </div>
                        <div class="master-appli-intro-f">
                            인사말
                        </div>
                        <div class="master-appli-status-f">
                            관리
                        </div>
                    </div>

                    <% applicantList.forEach((aplct, index)=>{ %>
                    <!-- 불러오기 -->
                    <div class="user-master-applicant">
                        <div class="master-appli">
                            <%= aplct.mem_id %>
                        </div>
                        <div class="master-appli-intro">
                            <%= aplct.message %>
                        </div>
                        <div class="master-appli-status">
                            <span>
                                <a href="/gather/acceptMember?no=<%= gatherData.gathering_id %>&aplctId=<%= aplct.mem_id%>" target="blankifr">[수락]</a>
                            </span>
                            <span>
                                <a href="/gather/refuseMember?no=<%= gatherData.gathering_id %>&aplctId=<%= aplct.mem_id%>" target="blankifr">[거절]</a>
                            </span>
                        </div>
                        <iframe name="blankifr" style="display:none;"></iframe> 
                    </div>
                    <% }) %>

                </div>
                <% } %>

            </div>
                <a href='/gather/update?no=<%= gatherData.gathering_id %>'>[편집]</a>
                <a href='/gather/delete?no=<%= gatherData.gathering_id %>'>[삭제]</a>
                <% break; %>
            <% case 1: %>   
            모임원
                <!-- 열람유저 = 모임원 -->
                <div class="view-user-member">

                    <div class="member-group-list">
                        <span class="title">모임 구성원 목록</span>
                    
                        <!-- 모임장 불러오기 -->
                        <div class="member-group-master">
                            <div class="group-master-index">
                                👑모임장
                            </div>
                            <div class="group-master-name">
                                <!-- 이름 불러오기 -->
                                <%= gatherData.leader_id %>
                            </div>
                        </div>

                        <% memberList.forEach((member, index)=>{ %>
                        <!-- 모임원 불러오기 -->
                        <div class="member-group">
                            <div class="group-member-index">
                                모임원
                            </div>
                            <div class="group-member-name">
                                <!-- 이름 불러오기 -->
                                <% if(member.mem_id == user.mem_id) { %>
                                    <span style="font-weight: 800;">
                                        <%= member.mem_id %>
                                        <a href='/gather/banMember?no=<%= gatherData.gathering_id %>&memId=<%= user.mem_id %>&mode=1' target="blankifr">[탈퇴]</a>
                                    </span>
                                <% } else { %>
                                    <%= member.mem_id %>
                                <% } %> 
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <% break; %>
            <% case 2: %>   
            신청한 사람
            <% case 3: %> 
            거절당한 사람
            <!-- 열람유저 = 신청자 -->
                <% if(typeof statusInfo != 'undefined' && statusInfo != ''){ %>
                <div class="view-user-applicant">
                    <div class="user-applicant">
                        <div class="user-applicant-cate">
                            <span class="title">신청 상태 : </span>
                            <!-- 상태 불러오기 -->
                            <% if(statusInfo.state==2){ %> 
                                <span class="status">요청중</span>
                            <% } else { %>
                                <span class="status">거절됨</span>
                            <% } %>
                        </div>
                        <div class="user-applicant-cate">
                            <span class="title">가입 신청일 : </span> 
                            <!-- 신청일 불러오기 -->
                            <span class="status">
                                <%= statusInfo.updatedAt.toISOString().slice(0,10); %>
                            </span>
                        </div>
                        <!-- 신청 취소 박스 -->
                        <div class="cancel-btn-box">
                            <a href="/gather/banMember?no=<%= gatherData.gathering_id %>&memId=<%= user.mem_id %>&mode=2" target="blankifr">
                                <button>신청 취소</button>
                            </a>
                        </div>
                    </div>             
                </div>
                <% } %>
                <% break; %>
            <% default: %>
                <% break; %>
        <% } %>
        </div>
    </div>

    <iframe name="blankifr" style="display:none;"></iframe> 
    <!-- ㄴ 화면 변경 방지 -->
</section>