<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/gather/gatherApplied.css">

<!--SECTION-->
<section>

	<!-- 전체 틀 -->
    <div class="gather-section">

		<!-- 밥모임 카테고리 -->
        <div class="gather-list">
            <div class="gather-main">
                <a href="/gather">밥모임</a>
            </div>
			<div class="gather-sub">
				<ul class="gather-sub-list">
					<li class="gather-sub-name">
						<a href="/gather/recruiting?countperpage=9&gsort=0">모집중</a>
					</li>
					<li class="gather-sub-name">
						<a href="/gather/completed?countperpage=9&gsort=1">모집완료</a>
					</li>
					<li class="gather-sub-name">
						<span class="font-bold" style="font-weight: 800;">
							<% if(typeof user == 'undefined'){ %>
								<a href="javascript:void(0)" onclick="alert('로그인 후에 이용하실 수 있습니다');">나의 밥모임</a>
							<% } else { %>
								<a href="/gather/mine">나의 밥모임</a>
							<% } %>
						</span>
					</li>
				</ul>
			</div>
        </div>

		<!-- 신청한 모집 부분 -->
		<div class="applied-box">

			<!-- 신청한 모임과 더보기 -->
			<div class="gathering-title">
				<span class="text"> 내가 신청한 모임 </span>
			</div>

			<!-- 내가 신청한 모임이 없을 경우만 출력 -->
			<% if (listApplied == "" || listApplied == false){ %>
				<div class="no-gather">
					아직 신청한 모임이 없어요!
				</div>

			<!-- 내가 신청한 모임이 있을 경우만 -->
			<% } else { %>
				<div class="gather-applied-box">
					<% listApplied.forEach((data, index)=>{ %>
						<!-- 리스트 내용 불러오기 -->
						<div class="applied-list-index">
							<div class="applied-index-name">
								<!-- 해당 밥모임 view 페이지로 이동 -->
								<a href="/gather/view">
									<%= data.name %>
									같이 왕짜장 먹으러 갈 사람~!~!~!
								</a>
							</div>
							<div class="applied-index-btn">
								<span class="applied-block-btn">▼</span>
								<span class="applied-none-btn">▲</span>
							</div>
						</div>
						<div class="applied-contents-none">
							<!-- 정보 불러오기 -->
							<div class="applied-content">
								<div class="applied-master">
									👑모임장 : 
									<span>초코케이크</span>
								</div>
								<div class="applied-region">
									모임 지역 : 
									<span><%= data.region %>서울시 노원구 공릉동</span>
								</div>

								<div class="applied-spot">
									함께 할 맛집 : 
									<span><%= data.restaurant %>왕짜장</span>
								</div>

								<div class="applied-numbers">
									모임 인원수 (현재 / 총원) : 
									<span><%= data.currentHeadCount %> / <%= data.maximumHeadCount %> 3 / 5</span>
								</div>
						
								<div class="applied-deadline">
									모집 마감일 : 
									<span><%= data.deadline %>2023년 12월 31일</span>
								</div>

								<div class="applied-intro">
									<div class="applied-intro-title">
										소개글 : 
									</div>
									<div class="applied-intro-text">
										안녕하세요~ 소개글 내용! 안녕하세요~ 소개글 내용! 안녕하세요~ 소개글 내용!
									</div>
								</div>
							</div>

							<div class="applied-align">
								<div class="applied-others">
									<div class="applied-status">
										상태 :&nbsp;
										<span>요청중</span>
									</div>
									<div class="applied-cancel">
										<button>신청취소</button>
									</div>
								</div>
						
							</div>

						</div>
					<% }) %>
				</div>
			<% } %>
		</div>
		
    </div>
	
</section>