<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/myroom/myroomRComment.css">
    
<!-- SECTION -->
<section>
    <div class="myroom-section">

        <!-- 마이룸 -->
        <div class="gather-list">
            <div class="gather-main">
                <a href="/myroom">마이룸</a>
            </div>
        </div>

        <!-- 본문 -->
        <div class="myroom-box">
            <!-- 카테고리 -->
            <%-include('myroomSideBar.ejs') %>
            <!-- 내용 -->
            <div class="myroom-contents">
                
                <div class="up-text">
                    <span class="material-symbols-outlined">comment</span>
                    <div>내가 등록한 댓글</div>
                </div>

                <ul class="post-index">
                    <li>
                        <div class="post-standard">
                            <p class="post-board">메뉴</p>
                            <p class="post-title">제목</p>
                            <p class="post-writer">작성자</p>
                            <p class="post-date">작성일</p>
                            <p class="post-view">조회수</p>
                        </div>
                    </li>
                </ul>

                <ul class="post-list">
                    <% if(typeof dataList == 'undefined' || dataList == ''){ %>
                                아직 작성한 🍴레시피가 없어요 :)
                    </li>
                    <% } %>
                    <% dataList.forEach((data, index)=>{%> 
                        <!-- 리스트 불러오기(내가 등록한 댓글의 레시피 정보) -->
                        <li class="post">
                            <div class="post-container">
                                <p class="post-board"><%= data.menu %></p>
                                <a href="/recipe/view?no=<%= data.recipe_id %>&sort=earliest">
                                    <%= data.title %>
                                </a>
                                </p>
                                <p class="post-writer"><%=data.writer_id %></p>
                                <p class="post-date"><%= data.createdAt.toISOString().slice(2,10);%></p>
                                <p class="post-view"><%= data.viewCount%></p>
                            </div>
                        </li>
                        <% commentList[index].forEach((comment, index2)=>{ %>
                            <li class="my-comment-box">
                                <span class="material-symbols-outlined">subdirectory_arrow_right</span>
                                <div class="my-comment">
                                    <!-- 내가 등록한 댓글 -->
                                    <%= comment %>
                                </div>
                                <!-- omit과 my-comment-numbers 는 해당 게시물의 내 댓글수가 총 2개 이상일때 표시 -->
                                <div class="omit">⋮</div>
                                <div class="my-comment-numbers">
                                    위 댓글 등 해당 게시물의 나의 댓글 수 총 ( 6 ) 
                                </div>
                            </li>
                        <% }) %>
                    <% }) %>

                </ul>

                <!-- 페이지네이션 -->
                <div class="myroom-page-box">
                    < 1 2 3 >
                </div>

            </div>
        </div>
    </div>
</section>

