<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/myroom/myroomRPost.css">
    
<!-- SECTION -->
<section>
    <div class="myroom-section">

        <!-- 마이룸 -->
        <div class="gather-list">
            <div class="gather-main">
                <a href="/myroom">마이룸</a>
            </div>
        </div>

        <!-- 본문 -->
        <div class="myroom-box">
            <!-- 카테고리 -->
            <%-include('myroomSideBar.ejs') %>
            <!-- 내용 -->
            <div class="myroom-contents">

                <div class="up-text">
                    <span class="material-symbols-outlined">contract_edit</span>
                    <div>내가 작성한 레시피</div>
                </div>

                <ul class="post-index">
                    <li>
                        <div class="post-standard">
                            <p class="post-board">메뉴</p>
                            <p class="post-title">제목</p>
                            <p class="post-date">작성일</p>
                            <p class="post-view">조회수</p>
                        </div>
                    </li>
                </ul>

                <ul class="post-list">
                    <% if(typeof dataList == 'undefined' || dataList == ''){ %>
                                아직 작성한 🍴레시피가 없어요 :)
                    </li>
                    <% } %>
                    <% dataList.forEach((data, index)=>{%> 
                    <!-- 리스트 불러오기 -->
                    <li class="post">
                        <div class="post-container">
                            <p class="post-board"><%= data.menu %></p>
                            <p class="post-title">
                                <a href="/recipe/view?no=<%= data.recipe_id %>&sort=earliest">
                                    <%= data.title %>
                                </a>
                            </p>
                            <p class="post-date"><%= data.createdAt.toISOString().slice(2,10);%></p>
                            <p class="post-view"><%= data.viewCount%></p>
                        </div>
                    </li>
                    <% }) %>
                </ul>

                <!-- 페이지네이션 -->
                <div class="myroom-page-box">
                    <% if (dataList !== ''){ %>
                        <div class="paginationInfo-container">
                            <% if (pagination.curSet > 1){ %>    
                                <div class="prev-set-button"><a href="/myroom/recipe/post?pageno=<%= pagination.startPage-1%>&countperpage=10">&lt;&lt;&nbsp; </a></div>
                            <% } %>
                            <% if (pagination.pageNo!=1){ %>    
                                <div class="prev-button"><a href="/myroom/recipe/post?pageno=<%= pagination.pageNo-1%>&countperpage=10">&nbsp;이전&nbsp;</a></div>
                            <% } %>
                            <div class="number-button-wrapper">
                                <% for (var i=pagination.startPage; i < pagination.endPage+1; i++){ %>
                                    <span class="number-button"> 
                                        <% if (pagination.pageNo==i){ %>
                                            <% console.log(i, pagination.pageNo); %>
                                            <a href="/myroom/recipe/post?pageno=<%= i %>&countperpage=10" style="font-weight: 800;"><%= i %></a>
                                        <% } else{ %>
                                            <a href="/myroom/recipe/post?pageno=<%= i %>&countperpage=10"><%= i %></a>
                                        <% } %>
                                    </span>
                                <% } %>
                            </div>
                            <% if (pagination.pageNo != pagination.totalPage){ %>
                                <div class="next-button"><a href="/myroom/recipe/post?pageno=<%= pagination.pageNo+1%>&countperpage=10"> &nbsp;이후&nbsp;</a></div>
                            <% }%>
                            <% if (pagination.curSet < pagination.totalSet){ %>
                                <div class="next-set-button"><a href="/myroom/recipe/post?pageno=<%= pagination.endPage+1%>&countperpage=10">&nbsp;&gt;&gt;</a></div>
                            <% }%>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

