
<div class="myroom-category">
    <!-- 내 프로필 -->
    <span>내 프로필</span>
    <ul class="category-profile">
        <li class="category-align"><span>◆</span>
            <a href="/myroom/changePw/check" class=<%= typeof curPage!= 'undefined' && curPage =='changePw'? "fontBold":''%>>
                비밀번호 변경
            </a>
        </li>
        <li class="category-align"><span>◆</span>
            <a href="/myroom/modify/check" class=<%= typeof curPage!= 'undefined' && curPage =='modify'? "fontBold":''%>>
                회원정보 수정
            </a>
        </li>
        <li class="category-align"><span>◆</span>
            <a href="/myroom/withdraw/check" class=<%= typeof curPage!= 'undefined' && curPage =='withdraw'? "fontBold":''%>>
                탈퇴
            </a>
        </li>
    </ul>
       
    <!-- 활동 내역 -->
    <span>활동 내역</span>
    <ul class="category-activity">
        <li class="category-align"><span>◆</span> 게시판</li>
            <ul class="category-activity-board">
                <li>- 
                    <a  href="/myroom/board/post?countperpage=10" class=<%= typeof curPage!= 'undefined' && curPage =='boardPost'? "fontBold":''%>>
                        작성한 게시글
                    </a>
                </li>
                <li>- 
                    <!-- class="fontBold" -->
                    <a  href="/myroom/board/comment?countperpage=10" class=<%= typeof curPage!= 'undefined' && curPage =='boardComment'? "fontBold":''%>>등록한 댓글</a>
                </li>
                <li>- 
                    <a href="/myroom/board/like?countperpage=10" class=<%= typeof curPage!= 'undefined' && curPage =='boardLike'? "fontBold":''%>>좋아요 누른 게시글</a>
                </li>
            </ul>
        <li class="category-align"><span>◆</span> 레시피</li>
            <ul class="category-activity-recipe">
                <li>- 
                    <a href="/myroom/recipe/post?countperpage=10" class=<%= typeof curPage!= 'undefined' && curPage =='recipePost'? "fontBold":''%>>작성한 레시피</a>
                </li>
                <li>- 
                    <a href="/myroom/recipe/comment?countperpage=10" class=<%= typeof curPage!= 'undefined' && curPage =='recipeComment'? "fontBold":''%>>등록한 댓글</a>
                </li>
                <li>- 
                    <a href="/myroom/recipe/like?countperpage=10" class=<%= typeof curPage!= 'undefined' && curPage =='recipeLike'? "fontBold":''%>>좋아요 누른 레시피</a>
                </li>
            </ul>
        <li class="category-align"><span>◆</span> 밥모임</li>
            <ul class="category-activity-gather">
                <li>- 
                    <a href="/gather/mine">나의 밥모임</a>
                </li>
                <li>- 
                    <a href="/myroom/chat/list">채팅 목록</a>
                </li>
            </ul>
    </ul>
</div>