<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/notice/noticeView.css">

<!-- SECTION -->
<section>
    <div class="board-post-section">
        <div class="post-section">
            <div class="post-title">
                <!-- 글 제목 불러오기 -->
                <%= dataList.title %>
            </div>
            <div class="post-info-box">
                <ul class="post-info-first">
                    <li class="writer-name">
                        작성자
                    </li>

                    <li class="writer-name" style="font-weight: 800;">
                        <!-- 작성자 이름 불러오기 -->
                        관리자
                        <!--  operator_id -->
                    </li>
                    <li class="write-date">
                        <!-- 작성일 불러오기 -->
                        등록일시
                    </li>
                    <li class="write-date">
                        <!-- 작성일 불러오기 -->
                        <%= dataList.createdAt.toISOString().split('T')[0] %>
                        <%= dataList.createdAt.toISOString().split('T')[1].slice(0,5) %>
                    </li>
                </ul>
                <ul class="post-info-second">
                    <li class="post-views">
                        조회
                        <span>
                            <!-- 조회수 불러오기 -->
                            <%= dataList.viewCount %>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="post-content">
                <!-- 글 내용 불러오기 -->
                <%- dataList.content %>
            </div>
        </div>
        <!-- 하단 -->
        <!-- 글 하단 -->
        <div class="bottom-nav">
            <div class="goback">
                <a href="/notice">🔙 목록으로</a>
            </div>

            <!-- 로그인한 유저가 글 작성자일때 보이기 -->
            <% if(typeof admin != 'undefined'){ %>
                <div class="editbox">
                    <ul>
                        <li>
                            <span>
                                <!-- 글 작성자이면 게시글 수정 페이지로 이동 -->
                                <a href="/notice/update?ntc_no=<%= dataList.notice_id %>">수정</a>
                            </span>
                        </li>
                        <li>
                            <span>
                                <!-- 글 작성자이면 게시글 삭제 -->
                                <a href="/notice/delete?ntc_no=<%= dataList.notice_id %>">삭제</a>
                            </span>
                        </li>
                    </ul>
                </div>
            <% } %>
        </div>      
    </div>
</section>